@font-face {
  font-family: "Gilroy";
   src:
   url(fonts/gilroylight.woff2) format('woff2'),
   url(fonts/gilroyextrabold.woff2) format('woff2');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.search-string {
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: 0px;
  width: 315px;
}

.search-botton {
  display: none;
  width: 85px;
  height: 50px;
}


.main-header {
  background-color: #f7e296;
  width: 1160px;
  height: 186px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 35px;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header-link,
.more-about-us,
.write-us-bottom,
.filter-button,
.popup-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.user-navigation,
.site-navigation ul,
.menu-catalog,
.user-navigation-footer,
.user-navigation-footer-catalog,
.site-navigation-footer,
.social-icon,
.services-menu,
.brands-menu,
.breadcrumbs,
.catalog-list,
.site-navigation,
.user-navigation-catalog {
  list-style: none;
}

.user-navigation a,
.site-navigation a,
.menu-catalog a,
.user-navigation-catalog a {
  color: #000000;
}

.site-navigation-footer a {
  color: #ffffff;
}

.user-navigation-footer a,
.user-navigation-footer-catalog a {
  color: rgba(255, 255, 255, 0.7);
}

.site-navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation a:hover,
.site-navigation a:hover,
.menu-catalog a:hover,
.user-navigation-catalog a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-footer a:hover,
.user-navigation-footer-catalog a:hover {
  color: rgb(255, 255, 255);
}

.user-navigation a:focus,
.site-navigation a:focus,
.menu-catalog a:focus,
.user-navigation-catalog a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation-footer a:focus,
.user-navigation-footer-catalog a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.write-us,
.modal-map,
.services {
  display:none;
}


h2,
.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.47px;
}

.about-us p,
.contacts p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0px;
}

.ship {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0px;
  list-style: none;
}

.ship li::before {
  content: "";
  background: url("../img/list-button.svg") no-repeat;
  height: 8px;
  width: 8px;
  padding-right: 26px;
}

.site-navigation-footer {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.1);
}

legend,
.catalog-category {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.18px;
}

.catalog-item-price {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(70, 70, 70);
  letter-spacing: 0.16px;
}

.filter-option {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.14px;
}

.filter {
  background-color: #efefef;
  width: 200px;
  padding-left: 200px;
}

fieldset {
  border: none;
}

legend {
  position:relative;
}

legend:before {
  position:absolute;
  top:-12px;
  left:0;
  width:201px;
  border-top:2px solid #000000;
  content:"";
}

.filter ul li {
  list-style: none;
  line-height: 17px;
  padding-left:0;
}

.main-header-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  left: 57px;
  top: -23px;
}

.main-header-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-logo:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: rgb(255, 198, 0);
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.main-footer-logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer-logo:focus {
  color: rgba(255, 198, 0, 0.3);
}

.main-header .container,
.main-header .site-container {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0px;
  margin-top: 4px;
  width: 1040px;
  margin-left: 60px;
  margin-right: 60px;
  height: 50px;
}

.container .search {
  position: relative;
  padding-left: 40px;
}

.search::before {
  content:"";
  position: absolute;
  top: 17px;
  left: 3px;
  height: 16px;
  width: 16px;
  background:url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.site-container {
  width: 1040px;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation {
  width: 1040px;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;
  vertical-align: middle;
}

.search {
  padding: 0;
  width: 400px;
  height: 50px;
  display: flex;
  margin-right: 100px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 27px;
}

.user-navigation .bag-link {
  position: relative;
  padding-left: 24px;

}

.user-navigation .compare-link {
  position: relative;
  padding-left: 20px;

}

.bag-link-index {
  width: 85px;
}

.compare-link-index {
  width: 100px;
  margin-right:40px;
  margin-left:180px;
}

.login-link-index {
  width: 100px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bag-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-link {
  width: auto;
  position: relative;
  padding-right: 0px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 230px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login-link:hover::before,
.compare-link:hover::before,
.bag-link:hover::before {
  opacity: 0.6;
}

.login-link:focus::before,
.compare-link:focus::before,
.bag-link:focus::before {
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  padding-top: 0px;
  width: 1040px;
  display: flex;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
  display: block;
}

.site-catalog {
  width:240px;
}

.site-ship {
  margin-left: 300px;
  width:120px;
}

.site-guarantee {
  margin-left: 40px;
  width:120px;
}

.site-contacts {
  margin-left: 100px;
  width:120px;
}

.index-columns {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;

}

.index-columns h2 {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 42px;
}

.about-us p {
  margin: 0;
  margin-bottom: 67px;
  width: 475px;
}

.about-us p:nth-child(3) {
  margin-bottom: 30px;
}

.more-about-us {
  width: 260px;
  text-align: center;
  margin-top: 63px;
  margin-bottom: 90px;
}

.write-us-bottom {
  width: 260px;
  text-align: center;
  margin-top: 71px;
  margin-bottom: 0px;
}

.about-us {
 width: 560px;
}

.contacts {
  position: relative;
  width: 560px;
}

.contacts p {
  margin-bottom: 30px;
}

.main-footer {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}


.footer-first-floor {
  display: flex;
  width: 1160px;
  margin-left: 140px;
  justify-content:space-between;
  margin-bottom: 10px;
}

.main-footer-logo {
  margin: 0;
  width: 177px;
}

.user-navigation-footer {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  width: 325px;
  display: flex;
}

.footer-login-link {
  position: relative;
  padding-left: 27px;
}

.footer-login {
  width: 69px;
  margin-right: 44px;
}

.footer-login-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-compare-link {
  position: relative;
  padding-left: 20px;
}

.footer-compare {
  width: 89px;
  margin-right: 41px;
}

.footer-compare-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-bag-link {
  position: relative;
  padding-left: 24px;
}

.footer-bag {
  width: 82px;
}

.footer-bag-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-login-link:hover::before,
.footer-compare-link:hover::before,
.footer-bag-link:hover::before {
  opacity: 0.6;
}

.footer-login-link:focus::before,
.footer-compare-link:focus::before,
.footer-bag-link:focus::before {
  opacity: 0.3;
}

.footer-second-floor {
  display: flex;
  width: 1160px;
  margin-left: 140px;
  display: flex;
  justify-content:space-between;
  margin-bottom: 0px;
}

.footer-address {
  width: 220px;
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
}

.site-navigation-footer {
  width: 440px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.footer-phone {
  width: 220px;
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.footer-third-floor {
  display: flex;
  width: 1160px;
  margin-left: 140px;
  justify-content: flex-end;
  margin-top: 31px;
}

.line {
  width: 80px;
  height: 7px;
}

.yellow {
  position: relative;
  right:451px;
  top: 28px;
  background: #ffc600;
}

.black {
  position: relative;
  right:0px;
  top: 0px;
  background: #000000;
}

.social-icon {
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  fill: #7e7e7e;
}

.social-icon-fb,
.social-icon-ig,
.social-icon-tw {
  opacity: 0.3;
}

.social-icon-fb:hover,
.social-icon-ig:hover,
.social-icon-tw:hover {
  opacity: 0.6;
}

.social-icon-fb:focus,
.social-icon-ig:focus,
.social-icon-tw:focus {
  opacity: 0.1;
}

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  margin-left: 440px;

}

.logo-htmlacademy {
  content: "";
  background: url("../img/logo-html.svg") no-repeat;
  width: 27px;
  height: 35px;
}

.logo-htmlacademy:hover {
  opacity: 0.6;
}

.logo-htmlacademy:focus {
  opacity: 0.3;
}

.breadcrumbs {
  display: flex;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 45px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 39px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -20px;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg");
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.page-title {
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.container-filter {
  width: 468px;
  height: 1287px;
  margin-right: auto;
  background-color: #efefef;
  display: flex;
}

.filters {
  width: 400px;
  padding-left: 0px;
  margin-top: 0px;
}

.filter legend {
  margin-bottom: 29px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: -3px;
  border: none;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.colour-filter .filter-option,
.bluetooth-filter .filter-option {
  margin-bottom: 23px;
  padding-left: 40px;
}

.filter .colour-filter {
  margin-bottom: 32px;
}

.filter .bluetooth-filter {
  margin-bottom: 19px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -40px;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -40px;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -40px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -40px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.2; /* не работает */
}

.filter-input-radio:disabled + label {
  opacity: 0.2; /* не работает */
}

.filter-button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  border: none;
  width: 200px;
  height: 40px;
  transition: all 0.1s linear;
  position: relative;
  font-size: 0px;
}

.filter-button::before  {
  content: "";
  position: absolute;
  top:16px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.filter-button::after  {
  content: "показать";
  font-size: 18px;
  position: absolute;
  left: 0px;
  top:8px;
  width: 100%;
}

.filter-button:hover  {
  background-color: #f0c52e;
   -webkit-transition: background-color 200ms linear;
   -ms-transition: background-color 200ms linear;
   transition: background-color 200ms linear;
}

.filter-button:focus {
  color: rgba(0, 0, 0, 0.3);
}

.popup-shower {
  padding: 0;
  margin: 0;
}

.popup-link {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  border: none;
  width: 260px;
  transition: all 0.1s linear;
  position: relative;
  font-size: 0px;
}

.catalog {
  width: 760px;
  margin-right: 140px;
  margin-top: 120px;
}

.catalog-columns {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.catalog-item {
  position:relative;
  width: 360px;
  /* Временно для сетки */
  min-height: 485px;
  margin-bottom: 0px;
  margin-right: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 0px;
  list-style: none;
  margin-bottom: 10px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 760px;
  padding: 25px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #ebebeb;
  margin-top: -25px;
  margin-bottom: -500px;
}

.pagination-item:nth-child(3) {
  margin-right: 32px;
  margin-left: 32px;
}

.contacts p {
  padding-bottom:8px;
}

.search-string {
  opacity: 0.3;
}

.search-string:hover {
  opacity: 0.6;
}

.search-string:focus {
  opacity: 1;
}

.search-botton {
  display: none;
}

.search:focus {
  box-shadow: inset 0 0 0 2px rgb(0, 0, 0);
}


.search-string:focus + .search-botton {
  display:block;
  background: #f7e296;
  border: 2px solid #000000;
  color: #000000;
}

.search-string:focus + .search-botton:hover {
  background: #000000;
  border: 2px solid #000000;
  color: #FFFFFF;
  }

.search-string:focus + .search-botton:focus {
  background-color: #FFFFFF;
}

.site-navigation > li {
  position: relative;
}

.menu-catalog li:nth-child(1),
.menu-catalog li:nth-child(4),
.menu-catalog li:nth-child(7) {
  width: 180px;
  margin-left: 35px;
  margin-right: 0px;
  height: 30px;

}

.menu-catalog li:nth-child(2),
.menu-catalog li:nth-child(5) {
  width: 130px;
  height: 30px;
}

.menu-catalog li:nth-child(3) {
  width: 130px;
  height: 30px;
}


.menu-catalog {
  position: absolute;
  z-index: 10;
  display: none;
  margin: 0px;
  padding: 24px;
  left: -60px;
  margin-left: 0px;
}

.menu-catalog li {
  margin-left: 35px;
  padding-right: 35px;
}



.site-catalog:hover .menu-catalog {
  width: 750px;
  min-height: 129px;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  background-color: #f7e296;
  padding-right: 386px;
}

.write-us-bottom {
  display: none;
}

.popup-content {
  width: 960px;
  height: 553px;
  position: fixed;
  z-index: 2;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 95px;
}

.modal-map {
  width: 960px;
  height: 553px;
  position: fixed;
  z-index: 2;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  box-shadow: 0 10px 10px 5px rgba(0,0,0,0.2);

}

.popup-button,
.button-more {
  position: relative;
  width: 260px;
  height: 40px;
  background-color: rgba(240, 197, 46, 0);
  border: none;
  cursor:pointer;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 0px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  transition: all 0.1s linear;

}

.popup-button {
  margin-top: 62px;
  margin-bottom: 82px;
}

.button-more {
  margin-top: 38px;
}

.popup-button::before,
.button-more::before  {
  content: "";
  position: absolute;
  top:16px;
  left: 0px;
  width: 260px;
  height: 8px;
  background-color: rgba(240, 197, 46, 1);;
}

.popup-button::after  {
  content: "напишите нам";
  font-size: 18px;
  position: absolute;
  left: 0px;
  top:8px;
  width: 100%;
}

.button-more::after {
  content: "подробнее о нас";
  font-size: 18px;
  position: absolute;
  left: 0px;
  top: 8px;
  width: 100%;
}

.popup-button:hover,
.button-more:hover  {
  background-color: rgba(240, 197, 46, 1);
   -webkit-transition: background-color 200ms linear;
   -ms-transition: background-color 200ms linear;
   transition: background-color 200ms linear;
}

.popup-button:focus,
.button-more:focus {
  color: rgba(0, 0, 0, 0.3);
}

.write-us-form * {
  background: rgba(255, 45, 82, 0.2);
box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

.user-name-popup {
  width: 360px;
  padding: 0;
  margin: 0;
}

.email-name-popup {
  width: 360px;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.mail-name-popup {
  width: 760px;
  margin-top: 15px;
  margin-bottom: 15px;

}

.write-us-send {
  width: 200px;
  align-items: center;
  align-self: center;
  margin-bottom: 70px;
}



.name,
.email,
.mail {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0px;
  text-transform: none;
  display: flex;
  padding-bottom: 5px;
}

.mail {
  padding-bottom: 10px;
}

.email-name-popup {
  width: 360px;
}

.write-us-form {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup-content input {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0px;
  text-transform: none;
  width: 360px;
  height: 50px;
  border-style: none;
  background-color: #f2f2f2;

}

.popup-content textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0px;
  text-transform: none;
  width: 760px;
  height: 156px;
  border-style: none;
  background-color: #f2f2f2;
  padding: 0px;

}


.popup-closer {
  position: absolute;
  top: 22px;
  right: 22px;
  font-size: 0px;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  background-image: url("../img/modal-close.svg");
  background-repeat:no-repeat;
  width: 55px;
  height: 55px;
  opacity: 0.5;
}

.popup-closer:hover {
  opacity: 1;
}

.popup-closer:focus {
  opacity: 0.3;
}

.user-navigation-catalog {
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
}

.logout {
  width: 44px;
  margin-right:65px;
}

.logout a,
.logout a:hover,
.logout a:focus {
  color: #000000;
  opacity: 0.3;
}

.bag-link-catalog {
  width: 85px;
}

.compare-link-catalog {
  width: 100px;
  margin-right:37px;
}

.login-link-catalog {
  width: 170px;
  margin-right:10px;
}

.user-navigation-catalog .login-link-header {
  position: relative;
  padding-left: 27px;
}

.user-navigation-catalog .bag-link-header {
  position: relative;
  padding-left: 24px;

}

.user-navigation-catalog .compare-link-header {
  position: relative;
  padding-left: 20px;
}

.login-link-header::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link-header::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bag-link-header::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link-header:hover::before,
.compare-link-header:hover::before,
.bag-link-header:hover::before {
  opacity: 0.6;
}

.login-link-header:focus::before,
.compare-link-header:focus::before,
.bag-link-header:focus::before {
  opacity: 0.3;
}

.footer-login-catalog {
  width: 160px;
  margin-right: 20px;
}

.footer-logout-catalog {
  width: 44px;
  margin-right: 44px;
}

.footer-compare-catalog {
  width: 89px;
  margin-right: 40px;
}

.footer-bag-catalog {
  width: 82px;
}

.footer-login-link-catalog {
  position: relative;
  padding-left: 27px;
}

.footer-compare-link-catalog {
  position: relative;
  padding-left: 20px;
}

.footer-bag-link-catalog {
  position: relative;
  padding-left: 24px;
}

.footer-login-link-catalog::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-compare-link-catalog::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-bag-link-catalog::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-login-link-catalog:hover::before,
.footer-compare-link-catalog:hover::before,
.footer-bag-link-catalog:hover::before {
  opacity: 0.6;
}

.footer-login-link-catalog:focus::before,
.footer-compare-link-catalog:focus::before,
.footer-bag-link-catalog:focus::before {
  opacity: 0.3;
}

.user-navigation-footer-catalog {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  width: 480px;
  display: flex;
}

.footer-logout-catalog a,
.footer-logout-catalog a:hover,
.footer-logout-catalog a:focus {
  color: #FFFFFF;
  opacity: 0.3;
}

.catalog-item-price {
  display: flex;
  width: 360px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 30px;
}

.catalog-category {
  display: inline-block;
  width: 260px;
  margin-top: 0px;
}

.catalog-item-price b {
  display: block;
  margin-top: 18px;
}


.write-us-send {
background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;
border: none;
width: 200px;
height: 40px;
transition: all 0.1s linear;
position: relative;
font-size: 0px;
font-family: "Gilroy", Arial, sans-serif;
font-size: 0px;
line-height: 24px;
font-weight: 700;
color: #000000;
letter-spacing: 3.6px;
text-transform: uppercase;
}

.write-us-send::before {
content: "";
position: absolute;
top: 16px;
left: 0px;
width: 200px;;
height: 8px;
background-color: #f0c52e;
}

.write-us-send::after {
content: "отправить";
font-size: 18px;
position: absolute;
top: 8px;
left: 0px;
width: 200px;
}

.write-us-send:hover {
background-color: #f0c52e;
width: 200px;
-webkit-transition: background-color 200ms linear;
-ms-transition: background-color 200ms linear;
transition: background-color 200ms linear;
}

.write-us-send:focus {
color: rgba(0, 0, 0, 0.3);
}


textarea::-webkit-input-placeholder {
  padding-top: 20px;
  padding-left: 20px;
}

input::-webkit-input-placeholder {
  padding-left: 20px;
}

.sorting-div {
  display: flex;
  position: relative;
}

.filter-sorting {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-bottom: 107px;
  margin-top: 0px;
  padding-left: 200px;
  padding-right: 180px;
  height: 70px;
  text-align: center;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 88px 0 0;
}

.sorting {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-bottom: 107px;
  margin-top: 0px;
  padding-left: 73px;
  padding-right: 54px;
  height: 70px;
  text-align: center;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sorting-price,
.sorting-type,
.sorting-popular {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0px;
  text-transform: none;
  text-align: center;
  padding-left:0px;
  padding-right:0px;
  height: 70px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sorting-price {
  flex: 60px 0 0;
  padding-right: 29px;
}

.sorting-type {
  flex: 53px 0 0;
  padding-right: 31px;
}

.sorting-popular {
  flex: 118px 0 0;
  padding-right: 13px;
}

.sorting-padding {
  height: 70px;
  background-color: #ebebeb;
  flex: 200px 0 0;
}

.sorting-button {
  height: 70px;
  background-color: #ebebeb;
  flex: 196px 0 0;
  position: relative;
}

.sort-button-up {
  position: absolute;
  content: "";
  background: url("../img/icon-up-dir.svg") no-repeat;
  height: 10px;
  width: 11px;
  left: 19px;
  top: 30px;
  opacity: 0.2;
}

.sort-button-down {
  position: absolute;
  content: "";
  background: url("../img/icon-down-dir.svg") no-repeat;
  height: 10px;
  width: 11px;
  left: 49px;
  top: 30px;
  opacity: 0.2;
}

.sort-button-up:hover,
.sort-button-down:hover {
  opacity: 0.4;
}

.sort-button-up:focus,
.sort-button-down:focus {
  opacity: 1;
}


.sorting-price:hover,
.sorting-type:hover,
.sorting-popular:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-price:focus,
.sorting-type:focus,
.sorting-popular:focus {
  color: rgba(0, 0, 0, 1);
}



.range-filter {
  width: 200px;
  margin-top: 0px;
}

.range-controls {
  position: relative;
  height: 7px;
  padding-top: 6px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 110px;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -3px;
  left: -10px;
  width: 20px;
  height: 22px;
  padding: 0;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -10px;
}

.range-controls .toggle-max {
  left: 100px;
}

.price-controls {
  display: inline-block;
  width: 200px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.2;
  margin-top: 0px;
  margin-bottom: 49px;
}

.price-controls input {
  width: 55px;
  padding: 0px 0px;
  margin-left: 0px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 1;
  text-align: left;
  border: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-1000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  display: flex;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.catalog-item .image img{
  max-width:100%;
}

.catalog-item .actions{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:60%;
  padding:40px 0;
  background-color:rgba(243,243,243,0.7);
  z-index:10;
  text-align: center;
}

.catalog-item .buy {
  display:inline-block;
  width:200px;
  height:40px;
  margin-top: 170px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 0px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border-style: none;
  background-color: transparent;
  position: relative;
}

.catalog-item .buy::before  {
  content: "";
  position: absolute;
  top:16px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.catalog-item .buy::after  {
  content: "в корзину";
  font-size: 18px;
  position: absolute;
  left: 0px;
  top:8px;
  width: 100%;
}

.catalog-item .buy:hover  {
  background-color: #f0c52e;
   -webkit-transition: background-color 200ms linear;
   -ms-transition: background-color 200ms linear;
   transition: background-color 200ms linear;
}

.catalog-item .buy:focus {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .add-to-copmare {
  display:inline-block;
  width:160px;
  margin-top: 6px;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.36px;
}

.catalog-item .add-to-copmare:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .add-to-copmare:focus {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item .actions{
  display:none;
  }
.catalog-item:hover .actions{
  display:block;
}

.pagination-item-back {
  position: absolute;
  left: 0;
  top: 0;
  padding: 25px 30px;
}

.pagination-item-next {
  position: absolute;
  right: 0;
  top: 0;
  padding: 25px 30px;
}

.pagination-item a {
  color: #000000;
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:focus {
  opacity: 1;
}

.pagination-item-current a {
  color: #000000;
  opacity: 1;
}

.pagination-item-back a,
.pagination-item-next a {
  color: #000000;
  opacity: 1;
}

.brands {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.brands-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 93px 0;
  margin: 0 0;
}

.brands-menu img {
  opacity: 0.2;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  filter: gray;
}

.brands-menu img:hover {
  -webkit-filter: none;
  filter: none;
  filter: none;
  opacity: 1;
}

.index-catalog {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.index-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  margin: 0 0;
}

.index-menu a {
  display: flex;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 197, 46, 0.5);
  margin-bottom: 38px;
}

.index-menu li {
  width: 160px;
  height: 276px;
}

.index-menu span {
  width: 160px;
  height: 78px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.18px;
}

.index-menu a:hover {
  background-color: rgba(240, 197, 46, 1);
}

.index-menu a:focus img,
.index-menu a:focus + span {
  opacity: 0.3;
}

 {
  background: rgba(255, 0, 0, 0.2);
  box-shadow: inset 0 0 0 2px rgb(255, 0, 0);
}
