@font-face {
  font-family: "Gilroy";
   src:
   url(fonts/gilroylight.woff2) format('woff2'),
   url(fonts/gilroyextrabold.woff2) format('woff2');
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.search-string {
  font: inherit;
  color: rgba(0, 0, 0, 0.302);
  letter-spacing: 0.15px;
  background-color: transparent;
  border: 0px;
}


.search::before {
  content:"";
  background:url("img/search.svg");
  position: absolute;
  top: 0;
  right: 30px;
  width: 38px;
  height: 100%;
  border: none;


}

/* Не работает ховер и фокус по поиску
.search-string:hover {
  color: rgba(255, 255, 255, 0.6);
}

.search-string:focus {
  color: rgba(0, 0, 0);
  border:0px;
}

.search-botton {
  visibility: hidden;
}

.search-botton:hover {
  visibility: visible;
}

.search-botton:focus {
  visibility: visible;
}
*/
.margin-bottom {
  margin-bottom: 40px;
}

.main-header {
  background-color: rgba(255, 255, 255, 0.2);
  width: 1160px;
  height: 186px;
  margin-left: auto;
  margin-right: auto;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.header-link,
.info {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.user-navigation,
.site-navigation ul,
.menu-catalog,
.info,
.user-navigation-footer,
.site-navigation-footer,
.social-icon,
.services-menu,
.brands-menu,
.breadcrumbs,
.catalog-list,
.menu-catalog {
  list-style: none;
}

.user-navigation a,
.site-navigation a,
.menu-catalog a {
  color: #000000;
}

.site-navigation-footer a {
  color: #ffffff;
}

.user-navigation-footer a {
  color: rgba(255, 255, 255, 0.702);
}

.site-navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation a:hover,
.site-navigation a:hover,
.menu-catalog a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-footer a:hover {
  color: rgb(255, 255, 255);
}

.user-navigation a:focus,
.site-navigation a:focus,
.menu-catalog a:focus {
  color: rgba(0, 0, 0, 0.302);
}

.site-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.302);
}

.user-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.302);
}

.write-us,
.modal-map,
.services,
.brands {
  display: none;
}

h2,
.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.47px;
}

.about-us p,
.contacts p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0px;
}

.ship {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0px;
}

.site-navigation-footer {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.302);
  letter-spacing: 0.14px;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.1);
}

legend,
.catalog-category {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.18px;
}

.catalog-item-price {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(70, 70, 70);
  letter-spacing: 0.16px;
}

.filter-option {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.14px;
}

.filter {
  background-color: #efefef;
}

fieldset {
  border: none;
}

legend {
  position:relative;
}

legend:before {
  position:absolute;
  top:-15px;
  left:0;
  width:201px;
  border-top:2px solid #000000;
  content:"";
}

.filter ul li {
  list-style: none;
  line-height: 17px;
  padding-left:0;
}


/* Разобраться с чек боксами, что бы они подсвечивались, а не текст
.filter-input:hover + label,
.filter-input:focus + label {
  color: #FFFFFF;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}
/*

/* Сделать ховер карточки товара
.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
*/

.pagination-list {
  list-style: none;
}

/*.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}
.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}
.checkbox:checked + label:before {
  background: #9FD468;
}
.checkbox:checked + label:after {
  left: 26px;
}
.checkbox:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}
*/
.main-header-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-left: 57px;
  position: absolute;
  top: 15px;
}

.main-header-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-logo:focus {
  color: rgba(0, 0, 0, 0.302);
}

.main-footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: rgb(255, 198, 0);
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.main-footer-logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer-logo:focus {
  color: rgba(255, 198, 0, 0.302);
}


html,
body {
  min-width: 1440px;
  min-height: 2795px;
}

body {
  /* Временно для сетки background-image: url(../img/device-index.jpg);*/

  background-size: 1440px auto;
  background-repeat: no-repeat;
}

.menu-catalog,
.visually-hidden {
  display: none;
}

header {
  weight: 1160px;
}

.main-header {
  margin-bottom: 1495px;

  /* Временно для сетки */
  min-height: 186px;
}
.search {
  margin: 0;
  padding: 0;
display: flex;
  list-style: none;
background-color: rgba(150, 50, 100, 0.2);
    /* Временно для сетки */
  min-height: 68px;

}

.user-navigation {
  margin: 0;
  padding: 0;
display: flex;
  list-style: none;
background-color: rgba(150, 50, 100, 0.2);
    /* Временно для сетки */
  min-height: 68px;

}

.index-columns {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
 padding: 50px 140px;
 display: flex;
 justify-content: space-between;
}

.about-us {
  /* Временно для сетки */
 min-height: 748px;
 width: 480px;
}

.contacts {
  /* Временно для сетки */
 min-height: 748px;
 width: 560px;
}

.main-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
   /* Временно для сетки */

   min-height: 323px;
   padding: 60px 0;
}
footer * {
  background-color: rgba(255, 0, 0, 0.5);
}

.main-footer .footer-first-floor {
  display: flex;
}

.footer-first-floor {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-footer-logo {
  margin: 0;
width: 177px;
  /* Временно для сетки */
  min-height: 64px;
  margin-right: 700px;
}

.user-navigation-footer {
  margin: 0;
width: 300px;
  /* Временно для сетки */
  min-height: 64px;
  margin-left: auto;
display: flex;
justify-content: space-between;
}
