@font-face {
  font-family: "Gilroy";
   src:
   url(fonts/gilroylight.woff2) format('woff2'),
   url(fonts/gilroyextrabold.woff2) format('woff2');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.search-string {
  font: inherit;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: 0px;
  width: 315px;
}




/* Не работает ховер и фокус по поиску
.search-string:hover {
  color: rgba(255, 255, 255, 0.6);
}

.search-string:focus {
  color: rgba(0, 0, 0);
  border:0px;
}

.search-botton {
  visibility: hidden;
}

.search-botton:hover {
  visibility: visible;
}

.search-botton:focus {
  visibility: visible;
}
*/

.search-botton {
  display: none;
  width: 85px;
  height: 50px;
}


.main-header {
  background-color: #f7e296;
  width: 1160px;
  height: 186px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 260px;
}

.main-footer {
  color: #ffffff;
  background-color: #464646;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header-link,
.more-about-us,
.write-us-bottom {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.user-navigation,
.site-navigation ul,
.menu-catalog,
.user-navigation-footer,
.user-navigation-footer-catalog,
.site-navigation-footer,
.social-icon,
.services-menu,
.brands-menu,
.breadcrumbs,
.catalog-list,
.site-navigation,
.user-navigation-catalog {
  list-style: none;
}

.user-navigation a,
.site-navigation a,
.menu-catalog a,
.user-navigation-catalog a {
  color: #000000;
}

.site-navigation-footer a {
  color: #ffffff;
}

.user-navigation-footer a,
.user-navigation-footer-catalog a {
  color: rgba(255, 255, 255, 0.7);
}

.site-navigation-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation a:hover,
.site-navigation a:hover,
.menu-catalog a:hover,
.user-navigation-catalog a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-footer a:hover,
.user-navigation-footer-catalog a:hover {
  color: rgb(255, 255, 255);
}

.user-navigation a:focus,
.site-navigation a:focus,
.menu-catalog a:focus,
.user-navigation-catalog a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-footer a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation-footer a:focus,
.user-navigation-footer-catalog a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.write-us,
.modal-map,
.services,
.brands {
  display:none;
}


h2,
.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.47px;
}

.about-us p,
.contacts p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0px;
}

.ship {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0px;
  list-style: none;
}

.ship li::before {
  content: "";
  background: url("../img/list-button.svg") no-repeat;

  padding-right: 26px;
}

.site-navigation-footer {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.1);
}

legend,
.catalog-category {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.18px;
}

.catalog-item-price {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(70, 70, 70);
  letter-spacing: 0.16px;
}

.filter-option {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.14px;
}

.filter {
  background-color: #efefef;
}

fieldset {
  border: none;
}

legend {
  position:relative;
}

legend:before {
  position:absolute;
  top:-15px;
  left:0;
  width:201px;
  border-top:2px solid #000000;
  content:"";
}

.filter ul li {
  list-style: none;
  line-height: 17px;
  padding-left:0;
}


/* Разобраться с чек боксами, что бы они подсвечивались, а не текст
.filter-input:hover + label,
.filter-input:focus + label {
  color: #FFFFFF;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}
/*

/* Сделать ховер карточки товара
.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
*/

.pagination-list {
  list-style: none;
}

/*.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}
.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}
.checkbox:checked + label:before {
  background: #9FD468;
}
.checkbox:checked + label:after {
  left: 26px;
}
.checkbox:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}
*/
.main-header-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  left: 57px;
  top: -23px;
}

.main-header-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-logo:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: rgb(255, 198, 0);
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.main-footer-logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer-logo:focus {
  color: rgba(255, 198, 0, 0.3);
}




.main-header .container,
.main-header .site-container {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0px;
  margin-top: 4px;
  width: 1040px;
  margin-left: 60px;
  margin-right: 60px;
  height: 50px;
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.container .search {
  position: relative;
  padding-left: 40px;
}

.search::before {
  content:"";
  position: absolute;
  top: 17px;
  left: 3px;
  height: 16px;
  width: 16px;
  background:url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.site-container {
  width: 1040px;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.site-navigation {
  width: 1040px;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  display: block;
  vertical-align: middle;
}

.search {
  padding: 0;
  width: 400px;
  height: 50px;
  display: flex;
  background: rgba(255, 0, 0, 0.3);
  box-shadow: inset 0 0 0 2px rgb(255, 0, 0);
  margin-right: 100px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 27px;
}

.user-navigation .bag-link {
  position: relative;
  padding-left: 24px;

}

.user-navigation .compare-link {
  position: relative;
  padding-left: 20px;

}

.bag-link-index {
  width: 85px;
}

.compare-link-index {
  width: 100px;
  margin-right:40px;
  margin-left:180px;
}

.login-link-index {
  width: 100px;
}

.user-navigation li,
.site-navigation li {
  background: rgba(255, 0, 0, 0.3);
  box-shadow: inset 0 0 0 2px rgb(255, 0, 0);
}



.login-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bag-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-link::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.site-navigation .catalog-link {
  position: relative;
  padding-right: 0px;
}

.login-link:hover::before,
.compare-link:hover::before,
.bag-link:hover::before {
  opacity: 0.6;
}

.login-link:focus::before,
.compare-link:focus::before,
.bag-link:focus::before {
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  padding-top: 0px;
  width: 1040px;
  display: flex;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
  display: block;
}

.site-catalog {
  width:240px;
}

.site-ship {
  margin-left: 300px;
  width:120px;
}

.site-guarantee {
  margin-left: 40px;
  width:120px;
}

.site-contacts {
  margin-left: 100px;
  width:120px;
}

.index-columns {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;

}

.index-columns h2 {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 42px;
}

.about-us p {
  margin: 0;
  margin-bottom: 67px;
  width: 475px;
}

.about-us p:nth-child(3) {
  margin-bottom: 30px;
}

.more-about-us {
  width: 260px;
  text-align: center;
  margin-top: 63px;
  margin-bottom: 90px;
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

.write-us-bottom {
  width: 260px;
  text-align: center;
  margin-top: 71px;
  margin-bottom: 0px;
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

.about-us {
 width: 560px;
 background: rgba(0, 128, 0, 0.2);
 box-shadow: 0 0 0 3px green;
}

.contacts {
 width: 560px;
 background: rgba(0, 128, 0, 0.2);
 box-shadow: 0 0 0 3px green;
}

.contacts p {
  margin-bottom: 30px;
}

.main-footer {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

.main-footer * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

.footer-first-floor {
  display: flex;
  width: 1160px;
  margin-left: 140px;
  justify-content:space-between;
  margin-bottom: 10px;
}

.main-footer-logo {
  margin: 0;
  width: 177px;
}

.user-navigation-footer {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  width: 325px;
  display: flex;
}

.footer-login-link {
  position: relative;
  padding-left: 27px;
}

.footer-login {
  width: 69px;
  margin-right: 44px;
}

.footer-login-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-compare-link {
  position: relative;
  padding-left: 20px;
}

.footer-compare {
  width: 89px;
  margin-right: 41px;
}

.footer-compare-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-bag-link {
  position: relative;
  padding-left: 24px;
}

.footer-bag {
  width: 82px;
}

.footer-bag-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-login-link:hover::before,
.footer-compare-link:hover::before,
.footer-bag-link:hover::before {
  opacity: 0.6;
}

.footer-login-link:focus::before,
.footer-compare-link:focus::before,
.footer-bag-link:focus::before {
  opacity: 0.3;
}

.footer-second-floor {
  display: flex;
  width: 1160px;
  margin-left: 140px;
  display: flex;
  justify-content:space-between;
  margin-bottom: 0px;
}

.footer-address {
  width: 220px;
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
}

.site-navigation-footer {
  width: 440px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.footer-phone {
  width: 220px;
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.footer-third-floor {
  display: flex;
  width: 1160px;
  margin-left: 140px;
  justify-content: flex-end;
  margin-top: 31px;
}

.line {
  width: 80px;
  height: 7px;
}

.yellow {
  position: relative;
  right:420px;
  top: 28px;
  background: #ffc600;
}

.black {
  position: relative;
  right:0px;
  top: 0px;
  background: #000000;
}

.social-icon {
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  fill: #7e7e7e;
  opacity: 0.3;
}

.social-icon-fb:hover path,
.social-icon-ig:hover path,
.social-icon-tw:hover path {
  opacity: 0.6;
}

.social-icon-fb:focus path,
.social-icon-ig:focus path,
.social-icon-tw:focus path {
  opacity: 0.1;
}

.footer-copyright {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  margin-left: 440px;
}

.footer-copyright .button {
  width: 27px;
  height: 35px;
}

.footer-copyright .button:hover path {
  opacity: 0.6;
}

.footer-copyright .button:focus path {
  opacity: 0.3;
}

.breadcrumbs {
  display: flex;
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  padding: 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 39px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -20px;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg");
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.page-title {
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.container-filter {
  width: 468px;
  height: 1287px;
  margin-right: auto;
  background-color: #efefef;
  display: flex;
}

.filters {
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  padding-left: 200px;
  margin-top: 279px;
  min-height: 1006px;
}

.colour-filter {
  min-height: 283px;
}
.bluetooth-filter {
  min-height: 175px;
}


.catalog {
  width: 760px;
  min-height: 622px;
  margin-right: 140px;
  margin-top: 120px;

}

.catalog-columns {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.catalog-item {
  width: 360px;
  /* Временно для сетки */
  min-height: 485px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 0px;
  list-style: none;
  margin-bottom: 10px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  width: 760px;
  justify-content: space-between;
  /* Временно для сетки */
  min-height: 70px;
}

.contacts p {
  padding-bottom:8px;
}

.search-string {
  opacity: 0.3;
}

.search-string:hover {
  opacity: 0.6;
}

.search-string:focus {
  opacity: 1;
}

.search-botton {
  display: none;
}

.search:focus {
  box-shadow: inset 0 0 0 2px rgb(0, 0, 0);
}


.search-string:focus + .search-botton {
  display:block;
  background: #f7e296;
  border: 2px solid #000000;
  color: #000000;
}

.search-string:focus + .search-botton:hover {
  background: #000000;
  border: 2px solid #000000;
  color: #FFFFFF;
  }

.search-string:focus + .search-botton:focus {
  background-color: #FFFFFF;
}


/*
.menu-catalog li:nth-child(-n+3) {
  display: flex;
  width: 200px;
  padding-right:0px;
  margin-bottom: 0px;
  margin-right: 40px;
}

.menu-catalog li:nth-child(n+4):nth-child(-n+5) {
  display: flex;
  width: 160px;
  padding-right:0px;
  margin-bottom: 0px;
  margin-right: 40px;
}

.menu-catalog li:nth-child(6) {
  display: flex;
  width: 160px;
  padding-right:0px;
  margin-bottom: 0px;
  margin-right: 0px;
}
*/

.site-navigation > li {
  position: relative;
}

.menu-catalog li {
  width: 180px;
}

.site-navigation .menu-catalog {
  position: absolute;

  z-index: 10;
  display: none;

  width: 600px;
  margin: 0px;
  padding: 10px;
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}



.site-catalog:hover .menu-catalog {
  display:flex;

  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}



.link-button {
  background: #f0c52e;
  width: 260px;
  min-height: 8px;
  left: 0px;
  top: 100px;
  transform: scale(0.99);
}




.popup-checkbox,
.popup {
  display: none;
}



.popup:before {
  display: block;
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-content {
  width: 960px;
  height: 553px;
  position: absolute;
  z-index: 2;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-shower {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.popup-shower:hover {
  color: #000000;
  text-decoration: none;

}

.popup-closer {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999;
  font-size: 20px;
  border: 1px solid #999;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-closer:hover {
  opacity: 1;
}

.popup-closer:focus {
  opacity: 1;
}

.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}

.user-navigation-catalog {
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
}

.user-navigation-catalog li {
  background: rgba(255, 0, 0, 0.3);
  box-shadow: inset 0 0 0 2px rgb(255, 0, 0);
}


.logout {
  width: 44px;
  margin-right:65px;
}

.logout a,
.logout a:hover,
.logout a:focus {
  color: #000000;
  opacity: 0.3;
}

.bag-link-catalog {
  width: 85px;
}

.compare-link-catalog {
  width: 100px;
  margin-right:37px;
}

.login-link-catalog {
  width: 160px;
  margin-right:20px;
}

.user-navigation-catalog .login-link-header {
  position: relative;
  padding-left: 27px;
}

.user-navigation-catalog .bag-link-header {
  position: relative;
  padding-left: 24px;

}

.user-navigation-catalog .compare-link-header {
  position: relative;
  padding-left: 20px;
}

.login-link-header::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link-header::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bag-link-header::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link-header:hover::before,
.compare-link-header:hover::before,
.bag-link-header:hover::before {
  opacity: 0.6;
}

.login-link-header:focus::before,
.compare-link-header:focus::before,
.bag-link-header:focus::before {
  opacity: 0.3;
}

.footer-login-catalog {
  width: 160px;
  margin-right: 20px;
}

.footer-logout-catalog {
  width: 44px;
  margin-right: 44px;
}

.footer-compare-catalog {
  width: 89px;
  margin-right: 40px;
}

.footer-bag-catalog {
  width: 82px;
}

.footer-login-link-catalog {
  position: relative;
  padding-left: 27px;
}

.footer-compare-link-catalog {
  position: relative;
  padding-left: 20px;
}

.footer-bag-link-catalog {
  position: relative;
  padding-left: 24px;
}

.footer-login-link-catalog::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 13px;
  height: 12px;
  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-compare-link-catalog::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-bag-link-catalog::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-login-link-catalog:hover::before,
.footer-compare-link-catalog:hover::before,
.footer-bag-link-catalog:hover::before {
  opacity: 0.6;
}

.footer-login-link-catalog:focus::before,
.footer-compare-link-catalog:focus::before,
.footer-bag-link-catalog:focus::before {
  opacity: 0.3;
}

.user-navigation-footer-catalog {
  margin: 0;
  padding: 0;
  margin-top: 2px;
  width: 480px;
  display: flex;
}

.footer-logout-catalog a,
.footer-logout-catalog a:hover,
.footer-logout-catalog a:focus {
  color: #FFFFFF;
  opacity: 0.3;
}
